<!DOCTYPE html>
<html>
    <head>
        <title>buy now</title>
    </head>
    <style>
    body{
        background-color: lightyellow;
    }
    #pr{
        text-align: center;
        width: 200px;
        height: 300px;
        background-color: lightcyan;
        border-radius: 20%;
        margin: 100px auto;
        padding: 40px;
    }
    a{
        border:2px solid black;
        border-radius: 5px;
    }
    </style>
    <body>
        <div id="pr">
            <h3><u>{{main.title}}</u></h3><br>
            <h3>DESCRIPTION :{{main.description}}</h3>
            <h3>PRICE :{{main.price}}</h3><br>
            <h3>IN STOCK :{{main.stock}}</h3><br>
            <a href="{% url 'maindel' main.id %}">delete</a>
            <a href="{% url 'buymain' main.id %}">buy</a>
            <a href="{% url 'editmain' main.id%}">edit</a>
        </div>
    </body>
</html>