{% extends 'food/prod.html'%}
{% block content %}
{% if messages %}
    <ul class="messages" style="background-color: #f8d7da;
    color: #721c24;">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div style="justify-content: center;display: flex;">
    <div class="card" style="width: 18rem;display: flex;">
        <img src="{{souce.get_image_url}}" class="card-img-top" alt="Not Found">
        <div class="card-body">
            <h5 class="card-title">{{souce.title}}</h5>
            <p class="card-text">{{souce.description}}</p>
            <h5 class="card-title">price:{{souce.price}}</h5>
            <h5 class="card-title">in stock:{{souce.stock}}</h5>
            <a class="btn btn-succes" href="{% url 'buysouce' souce.id %}">buy</a>
            <a class="btn btn-info" href="{% url 'editsouce' souce.id %}">edit</a>
            <a class="btn btn-danger" href="{% url 'soucedel' souce.id %}">delete</a>
        </div>
    </div>
</div>
{% endblock content %}