{% extends 'food/prod.html'%}
{% block content %}
{% if messages %}
    <ul class="messages" style="background-color: #f8d7da;
    color: #721c24;">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div style="justify-content: center;display: flex;">
    <div class="card" style="width: 18rem;display: flex;">
        <img src="{{drinks.get_image_url}}" class="card-img-top" alt="Not Found">
        <div class="card-body">
            <h5 class="card-title">{{drinks.title}}</h5>
            <p class="card-text">{{drinks.description}}</p>
            <h5 class="card-title">price:{{drinks.price}}</h5>
            <h5 class="card-title">in stock:{{drinks.stock}}</h5>
            <a class="btn btn-succes" href="{% url 'buydrink' drinks.id %}">buy</a>
            <a class="btn btn-info" href="{% url 'editdrink' drinks.id %}">edit</a>
            <a class="btn btn-danger" href="{% url 'drinkdel' drinks.id %}">delete</a>
        </div>
    </div>
</div>
{% endblock content %}    